$black: #0D0F13;
$dull-black: #141318;
$grey: #42464d;
$white: #EBEDEF;
$dull-white: #7F8694;
$blue-grey: #0A1A31;
$primary-gradient: linear-gradient(135deg, $black 12%, #101C2E, $blue-grey);
$indigo: #20212c;