@use "modules"as modules;
@use "./constants"as const;
@use "./global-styles";

html {
  font-family: 'Poppins', sans-serif;
  background-color: const.$dull-black;
  color: const.$white;
}

* {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

main {
  // flex: 1;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 90vh;
}