@use "modules"as modules;
@use "./constants"as const;
@use "./global-styles";


:root {
  ::-webkit-scrollbar {
    background-color: const.$dull-black;
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5a5c6e;
    border-radius: 0.5rem;
  }
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: const.$dull-black;
  color: const.$white;
}

* {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


main {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 90vh;
}

aside {
  overflow-y: scroll;
  height: 90vh;
}