$black: #0D0F13;
$grey: #42464d;
$white: #EBEDEF;
$dull-white: #7F8694;
$blue-grey: #0A1A31;
$primary-gradient: linear-gradient(135deg, $black 12%, #101C2E, $blue-grey);

html {
  font-family: 'Poppins', sans-serif;
  background-color: $black;
  color: $white;
}

* {
  margin: 0;
  padding: 0;
}

.pd-4 {
  padding: 0.5rem 0.75rem;
}

.pd-8 {
  padding: 1rem 1.5rem;
}

.pd-16 {
  padding: 1.5rem 2rem;
}